body{
    background-color: #F3E4FF; 
}
h1{
    font-family: 'Spicy Rice', cursive;
    font-size: 60px;
}
h2{
    font-family: 'Lalezar', cursive;
    font-size: 45px;
}
body{
    text-align: center;

}
.red{ 
    width: 500px; 
}